# Ignore node_modules in all directories
node_modules
**/node_modules/

# Ignore .env files
.env

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore IDE specific files
.idea/
.vscode/
*.iml

# Ignore build files
dist/t